# ======================================================
# Node.js Dependencies
# ======================================================

node_modules/

# ======================================================
# React
# ======================================================

build/
coverage/

# ======================================================
# Environment Variables
# ======================================================

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ======================================================
# Package Managers
# ======================================================

.pnp
.pnp.js

# ======================================================
# Logs
# ======================================================

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================================================
# Operating System
# ======================================================

.DS_Store
Thumbs.db
desktop.ini

# ======================================================
# VS Code (Optional)
# Uncomment if you don't want to sync settings
# ======================================================

# .vscode/

# ======================================================
# Misc
# ======================================================

*.log